<form name="register" submit-validate novalidate>
    <h2 class="text-center">Add Item</h2>
   <br/>
   <div class="form-group" ng-class="{ 'has-error' : register.item.$invalid && !register.item.$pristine, 'has-success' : register.item.$valid && !register.item.$pristine}">
       <label for="input01" class="col-sm-2 control-label">item</label>
       <div class="col-sm-10">
           <input type="text" name="item" id="item" class="form-control" ng-model="registerData.item" ng-maxlength="100" ng-pattern="/^([a-zA-Z0-9 _-]+)$/" on-blur-validation
               required>
           <p class="help-block">
               <span ng-show="register.item.$invalid && !register.item.$pristine">item is required.</span>
               <span ng-show="register.item.$invalid && !register.item.$pristine && register.item.$error.pattern">Item Must Contain Atleast  uppercase, lower case, -, _ .</span>
           </p>
       </div>
   </div>
   
   <br/>
   <div class="align-center">
       <button type="submit" class="btn btn-default"  ng-disabled="register.$invalid" id="login" ng-click="addItem(registerData)">Add User</button>
   </div>
   <div ng-repeat="item in itemList">
       <input ng-model="item.selected" type="checkbox" ng-click="updateItem(item)" /> {{item.item}} <button ng-click="removeItem(item)">remove</button>
   </div>
</form>