<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
          
            <li ng-class="{active: collapseVar==1}">{{dropDown}}
                <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> Items<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <!-- <li ui-sref-active="active">
                        <a ui-sref="admin.user.userList">user list</a>
                    </li> -->
                    <li ui-sref-active="active">
                        <a ui-sref="admin.user.userAdd">Items add</a>
                    </li>
                    <!-- <li ui-sref-active="active">
                        <a ui-sref="admin.user.userEdit">user edit</a>
                    </li> -->
                    
                </ul>
                <!-- /.nav-second-level -->
            </li>
            
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



